<html>
<head>
    <title>Walle Controller</title>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <link rel="stylesheet" href="/static/style.css?v=1">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="/static/app.js?v=1"></script>
</head>
<body>
<div class="content">
    <div class="direction">
        <div class="direction-block up" id="move-up"></div>
        <div class="direction-block left" id="move-left"></div>
        <div class="direction-block right" id="move-right"></div>
        <div class="direction-block down" id="move-down"></div>
    </div>
    <div class="console">
        <div class="text"></div>
    </div>
    <div class="connect-btn" onclick="connect('{{websocket_url}}')">CONNECT</div>
</div>
</body>
</html>